# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Case - Virtual Projects.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ahmet\OneDrive\Masaüstü\Virtual Projects Case\Project\Case - Virtual Projects\.idea\.idea.Case - Virtual Projects\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
